@model ForumSys.Web.ViewModels.OutPutViewModels.Posts.PostCreateInputModel
@{
    ViewData["Title"] = "Create";
}

@{
    var categoryName = this.Model.Categories.Where(x => x.Id == Model.Id).Select(n => n.Name).FirstOrDefault();
}


@if (categoryName != null)
{
    <h1 class="d-flex justify-content-center">@ViewData["Title"] post in @categoryName</h1>

    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>

    <form asp-action="Create" asp-area="" asp-controller="Post" method="post">

        <input type="hidden" value="@Model.Id" asp-for="Id" />

        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Content"></label>
            <textarea id="textValidate" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        @*<div>
                <label>Category</label>
                <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>*@

        <input onclick="validate()" class="btn btn-outline-primary mt-3" type="submit" name="submit" value="Add post" />
    </form>

    <script>
        function validate() {
            const data = document.getElementById("#textValidate");
            console.log(data);
            return false;
        }
    </script>
}
else
{
    <h3 class="text-center">Invalid post</h3>
}